{#
/**
 * @file
 * Default theme implementation.
 */
#}

<h2>{{cocktail_name}}</h2>

<div id="image"><img src="{{ uri }}" width="auto" height="300"></img></div>
<p>
  {{is_alcoholic}}
  <br>
  Serve: {{cocktail_glass}}
</p>
<h5>{{ "Ingredients:\n" }}</h5>
<div id="wrap">
  <div id="left">
    {% for key, value in measurements %}
    <ul style="padding:0; list-style-type:none;">
        <li>{{ value }}</li>
      </ul>
    {% endfor %}
  </div>

  <div id="right">
    {% for key, value in ingredients %}
      <ul style="padding:0; list-style-type:none;">
        <li>{{ value }}</li>
      </ul>
    {% endfor %}
  </div>
</div>
<h5>{{ "Instructions:\n" }}</h5>
<p>
  {{ instruction }}
</P>
<br>
<style>
#wrap {
    display: flex;
    justify-content: left;
    text-align: right;
    padding: 0%;
    width: 80%;
}

#left {
  text-align: right;
  padding-righ: 0.6%;
  float:left;
}

#right {
text-align: left;
padding-left: 0.6%;
}

#image {
  max-width: 50%;
  height: auto;
}

a.use-ajax {
  display: inline-block;
  padding: 8px 12px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: #ffc880;
  border: none;
  border-radius: 10px;
}

a.use-ajax:hover {background-color: #97db8f}

a.use-ajax::active {
  background-color: #97db8f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

</style>
